In [1]:
#import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
#read csv file
movie = pd.read_csv("~/Downloads/Data Science/data set/my_movies.csv")
movie

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [3]:
movie.drop(['V1','V2','V3','V4','V5'], axis=1, inplace=True)

In [4]:
# Building the model 
movie_apiori = apriori(movie, min_support = 0.1, use_colnames = True)

In [5]:
# Collecting the inferred rules in a dataframe 
rules = association_rules(movie_apiori, metric ="lift") 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

                              antecedents              consequents  \
102               (Green Mile, Gladiator)                   (LOTR)
107                                (LOTR)  (Green Mile, Gladiator)
132  (Green Mile, Gladiator, Sixth Sense)                   (LOTR)
136               (Green Mile, Gladiator)      (LOTR, Sixth Sense)
141                   (LOTR, Sixth Sense)  (Green Mile, Gladiator)

     antecedent support  consequent support  support  confidence  lift  \
102                 0.1                 0.1      0.1         1.0  10.0
107                 0.1                 0.1      0.1         1.0  10.0
132                 0.1                 0.1      0.1         1.0  10.0
136                 0.1                 0.1      0.1         1.0  10.0
141                 0.1                 0.1      0.1         1.0  10.0

     leverage  conviction
102      0.09         inf
107      0.09         inf
132      0.09         inf
136      0.09         inf
141      0.09         inf