In [1]:
#import libabry

import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.metrics import classification_report

In [2]:
#read file
election_data = pd.read_csv("~/Downloads/Data Science/data set/election_data.csv")

In [3]:
#read to 5 data
election_data.head()

   Election-id  Result  Year  Amount Spent  Popularity Rank
0          122       0    32          3.81                3
1          315       1    48          6.32                2
2          201       1    51          3.67                1
3          965       0    40          2.93                4
4          410       1    52          3.60                1

In [4]:
election_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Election-id      10 non-null     int64
 1   Result           10 non-null     int64
 2   Year             10 non-null     int64
 3   Amount Spent     10 non-null     float64
 4   Popularity Rank  10 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 528.0 bytes

In [5]:
#null value check
election_data.isna().sum()

Election-id        0
Result             0
Year               0
Amount Spent       0
Popularity Rank    0
dtype: int64

In [6]:
#set depend and independent variable
y = election_data.Result
election_data.drop(['Result'], axis=1, inplace=True)
x = election_data

In [7]:
y

0    0
1    1
2    1
3    0
4    1
5    0
6    1
7    1
8    1
9    0
Name: Result, dtype: int64

In [8]:
#split data
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1, stratify=y)

In [9]:
#create Logistic Regression model
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
#predict on test data
predictions = logmodel.predict(X_test)

In [11]:
#cnfusion matrix, accurarcy

print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

[[1 0]
 [0 1]]
1.0